/* General styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

/* Color variables */
:root {
    --bg-color: white;
    --text-color: black;
}

[data-theme="dark"] {
    --bg-color: #121212;
    --text-color: #ffffff;
}

/* Container styling */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

header, footer {
    background-color: var(--bg-color);
    color: var(--text-color);
    text-align: center;
    padding: 1rem 0;
}

/* Toggle button */
button.toggle-theme {
    position: fixed;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

button.toggle-theme img {
    width: 24px;
    height: 24px;
}

button.toggle-theme.bottom {
    top: auto;
    bottom: 1rem;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
